GestionNovedades.POC/Connected Services/GestionNovedadesClient/EntityManagerServices4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:82/Soap/Wcf/EntityManagerServices.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GestionNovedades.Model.Entidades" />
  <xs:import schemaLocation="http://localhost:82/Soap/Wcf/EntityManagerServices.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/GestionNovedades.Model.Util" />
  <xs:element name="InsertRole">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/GestionNovedades.Model.Entidades" minOccurs="0" name="role" nillable="true" type="q1:Role" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertRoleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/GestionNovedades.Model.Util" minOccurs="0" name="InsertRoleResult" nillable="true" type="q2:ResponseOfRoleohJWP38Q" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>