GestionNovedades.POC/Connected Services/GestionNovedadesClient/EntityManagerServices.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/GestionNovedades.Model.Entidades" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GestionNovedades.Model.Entidades" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:82/Soap/Wcf/EntityManagerServices.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="Role">
    <xs:sequence>
      <xs:element minOccurs="0" name="RoleDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RoleId" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Role" nillable="true" type="tns:Role" />
</xs:schema>