GestionNovedades.POC/Connected Services/GestionNovedadesClient/EntityManagerServices3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GestionNovedades.Model.Util" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GestionNovedades.Model.Util" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:82/Soap/Wcf/EntityManagerServices.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:82/Soap/Wcf/EntityManagerServices.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GestionNovedades.Model.Entidades" />
  <xs:complexType name="ResponseOfRoleohJWP38Q">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ResponseOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/GestionNovedades.Model.Util" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="Role" Namespace="http://schemas.datacontract.org/2004/07/GestionNovedades.Model.Entidades" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Error" nillable="true" type="q1:ArrayOfstring" />
      <xs:element minOccurs="0" name="IsValid" type="xs:boolean" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/GestionNovedades.Model.Entidades" minOccurs="0" name="OperationResult" nillable="true" type="q2:Role" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResponseOfRoleohJWP38Q" nillable="true" type="tns:ResponseOfRoleohJWP38Q" />
</xs:schema>